*{
    /* padding: 0; */
    /* margin: 0; */
    font-size: 8px;
}
body{
    background-color: rgb(251, 246, 239);
}
nav{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 100px;
}
.element ul{
    display: flex;
}
.element ul li{
    list-style: none;
    padding-inline: 10px;
    display: flex;
    align-items: center;
    font-size: 10px;
}
.logo img{
    height: 16px;
    width: auto;
    margin-top: 2px;
}
ul li svg{
    height: 8px;
    width: 8px;
}
.container{
    border: 2px;
    height: 350px;
    width: 350px;
    display: grid;
    grid-template-columns:auto auto auto;
    padding: 2px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }
.grid{
    box-sizing: border-box;
    height:100px;
    width: 100px;
    border:2px;
    padding: ;
    background-color: rgb(239, 239, 239);
}
.item1{text-align: center;}
.item2{text-align: center;}
.item3{text-align: center;}
.item4{text-align: center;}
.item5{text-align: center;}
.item6{text-align: center;}
.item7{text-align: center;}
.sub{font-size: 8px;
position: relative;
top: -25px;}

.bold{font-size: 10px;
font-weight:bold;}
a{
    border: 2px ;
    height: 4px;
    width: 2vw;
    border-radius: 5vw;
    padding: 2px;
    position: relative;
    top: -10px;
    background-color: rgb(109, 184, 109);
    color: #fff;
    }
    .welcome{
        text-align: center;
        font-size: 25px;
      padding: 40px;
    }
.welcome span{
    font-size: 25px;
    font-weight: bold;
}
p{
    text-align: center;
    font-size: 15px;
    padding: 8px;
}
.download span{
    font-size: 10px;
    border: 2px;
    border-radius: 5px;
    background-color: lightblue;
    padding: 8px;
    color: #fff;
}
.download{
    align-items: center;
    padding: 10px;
}
.container0{width: 500px;
margin: auto;}

